*{
  font-family: "Quicksand", serif;
  font-style: normal;
  box-sizing: border-box;
  background-color: #F7F7F7;
}
.display-flex{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
 .logo-text{
    color: rgb(17, 17, 17);
    font-size: 32px;
    font-weight: 700;

}
.navs{
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-1{
    color: rgb(254, 163, 1);
}
.nav-2{
    color:  rgb(1, 172, 253);
}
.nav-3{
    color:  rgb(5, 212, 223);
}
.nav-4{
    color: rgb(93, 88, 239) ;
}
.btn-primary{
border-radius: 12px;
border: none;
background: rgb(254, 163, 1);
align-items: center;
padding:16px 62px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}
.btn-primary a{
text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding:20px 0 20px 0;
    margin:0px 140px;
}
.nav-links{
    list-style: none;
    gap: 32px;
    display: flex;
}
.nav-links a{
    text-decoration: none;
}
header{
    max-width: 1440px;
    margin: 0 auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 140px; 
}
.hero-content{
    max-width:640px;
    height: 331px;;
}
.hero-title{
font-size:3.5rem;
font-weight: 700;
text-align: left;
}
.hero-details{
color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;
text-align: left;
}
#title-part1{
    color: rgb(254, 163, 1);
}
#title-part2{
    color: rgb(1, 172, 253);
}
.enroll{
background: rgb(17, 17, 17);
border-radius: 12px;
border: none;
align-items: center;
padding:16px 62px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}
.curriculum{
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    border: 2px solid red;
}
.curriculum-content{
display: flex;
align-items: center;
justify-content: center;
}
.card-color{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-color2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-color3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255)
}
.c-card{
width: 367.8px;
height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 19px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
border-radius: 18.86px;
margin-right: 30px;
}
.curriculum-title{
    color: rgb(0, 0, 0);
font-family: Quicksand;
font-size: 46px;
font-weight: 700;
line-height: 57.5px;
letter-spacing: 0%;
text-align: center;
padding: 70px 0px 60px 0px;
}
.c-title{
color: rgb(32, 32, 32);
font-size: 1.8;
font-weight: 700;
text-align: center;
background:none;
}
.c-img{
background:none;
width: 130.7px;
height: 111.94px;
 margin: 52px 115px;
 margin-bottom: 0;
}
.c-details{
background: none;
color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
}
.read {
color: rgb(100, 200, 255);
font-size: 15.09px;
font-weight: 700;
text-align: center;
text-decoration: none;
margin: 52px 115px;
}
.toggle{
    font-size: 30px;
    float: right;
    line-height: 100px;
    padding-right:  20PX;
    display: none;
 
}
@media screen and (max-width:1440px){
    .navbar{
     border: 0.5px solid rgb(254, 163, 1);
    }
    .toggle{
        display: block;
     }
 .nav-links,.btn-primary{
    display: none;
 }
 .hero{
    flex-wrap: wrap-reverse;
 }
 .hero-content{
display: flex;
flex-direction: column;
align-items: center;
 }
 .curriculum{
margin-top:800px;
padding: 40px 0px 40px 0px;
align-items: center;
 }
 .curriculum-content{ 

    flex-direction: column;
 }
 .c-card{
    margin-bottom: 20px;
 }

}


