*{
  font-family: "Quicksand", serif;
  font-style: normal;
  box-sizing: border-box;
  background-color: #F7F7F7;
}
.display-flex{
    display: flex;
}
.logo{
    display: flex;
    align-items: center;
    gap: 11px;
}
 .logo-text{
    color: rgb(17, 17, 17);
    font-size: 2rem;
    font-weight: 700;

}
.navs{
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}
.nav-1{
    color: rgb(254, 163, 1);
}
.nav-2{
    color:  rgb(1, 172, 253);
}
.nav-3{
    color:  rgb(5, 212, 223);
}
.nav-4{
    color: rgb(93, 88, 239) ;
}
.btn-primary{
border-radius: 12px;
border: none;
background: rgb(254, 163, 1);
align-items: center;
padding:16px 62px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}
.btn-primary a{
text-decoration: none;
}
.navbar{
    justify-content: space-between;
    align-items: center;
    padding:20px 0 20px 0;
    margin:0px 140px;
}
.nav-links{
    list-style: none;
    gap: 32px;
    display: flex;
}
.nav-links a{
    text-decoration: none;
}
header{
    max-width: 1440px;
    margin: 0 auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0px 140px; 
}
.hero-content{
    max-width:640px;
    height: 331px;;
}
.hero-title{
font-size:3.5rem;
font-weight: 700;
text-align: left;
}
.hero-details{
color: rgb(17, 17, 17);
font-size: 1.25rem;
font-weight: 400;
text-align: left;
}
#title-part1{
    color: rgb(254, 163, 1);
}
#title-part2{
    color: rgb(1, 172, 253);
}
.enroll{
background: rgb(17, 17, 17);
border-radius: 12px;
border: none;
align-items: center;
padding:16px 62px;
color: rgb(255, 255, 255);
font-size: 20px;
font-weight: 600;
}
.Curriculum{
    margin-top: 200px;
    background: url(../assets/bg.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size:contain;
}
.curriculum-content{
    max-width: 1300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    gap: 30px;
    margin: 0 auto;
  
}  
.card-color{
    background: linear-gradient(180.00deg, rgb(222, 245, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-color2{
    background: linear-gradient(180.00deg, rgb(255, 244, 220),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
}
.card-color3{
    background: linear-gradient(180.00deg, rgb(238, 225, 255),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255)
}
.c-card{
width: 367.8px;
height: 476.78px;
box-sizing: border-box;
border: 0.94px solid rgb(222, 245, 255);
border-radius: 19px;
box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
margin-right: 30px;
}

.curriculum-title{
    font-size: 2.9rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    background: transparent;
   
  
}
.c-title{
color: rgb(32, 32, 32);
font-size: 1.8;
font-weight: 700;
text-align: center;
background:none;
}
.c-img{
background:none;
width: 130.7px;
height: 111.94px;
 margin: 52px 115px;
 margin-bottom: 0;
}
.c-details{
background: none;
color: rgb(128, 128, 128);
font-family: Raleway;
font-size: 15.09px;
font-weight: 500;
line-height: 28.3px;
letter-spacing: 0%;
text-align: center;
}
.read {
color: rgb(100, 200, 255);
font-size:1.5rem;
font-weight: 700;
text-align: center;
text-decoration: none;
margin: 52px 115px;
background: none;
}
.read-color{
    color: #F0AA00;
}
.read-color1{
    color: #8700FF;
}
.toggle{
    font-size: 30px;
    float: right;
    line-height: 100px;
    padding-right:  20PX;
    display: none;
 
} 
.slider{
display: flex;
justify-content: center;
align-items: center;
margin: 80px 700px;
gap: 30px;
}
.front{
   width: 64px;
}
.back{
    width: 64px;
}
.story{

max-width: 1440px;
background: url(../assets/bg.png),linear-gradient(0.00deg, rgba(254, 163, 1, 0.3),rgba(255, 255, 255, 0.3) 100%);
margin:0 auto
}
.story-title{
    font-size: 2.9rem;
    font-weight: 700;
    color: #000000;
    text-align: center;
    background: transparent;   
}
.story-cards{
    display: flex;
    justify-content: space-between;
    max-width: 1300px;
    margin: 0 auto;
    background: transparent;
}
.little-story-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.highlight-story-card{
width: 580px;
height:720px;
left: 140px;
right: 759.73px;
top: 197.5px;
background: #FFFFFF;
border-radius: 16px;
}
.highlight-story-title{
color: rgb(0, 0, 0);
font-size: 1.5rem;
font-weight: 700;
padding: 0px 39px;
}
.little-story-cards{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.story-description{
color: rgb(102, 102, 102);
font-family: Raleway;
font-size: 1rem;
font-weight: 500;
line-height: 28.76px;
padding: 0px 39px;
}
.little-story-title{
color: rgb(0, 0, 0);
font-size: 1.3rem;
font-weight: 700;
line-height: 28.76px;
padding: 0px 30px 0px 10px;
}
.little-story-card{
    width: 290px;
    height: 350px;
    border-radius: 16px;
}
.highlight-story-image{
    border-radius: 16px 16px 0 0;
    width: 580px;
}
.story-image{
    border-radius: 16px 16px 0 0;
}
.little-story-cards{
    background: transparent;
    gap: 20px;
}
.btn-card1{
width: 174.51px;
height: 45px;
padding: 15px;
margin-left: 38.35px;
right: 327.41px;
margin-top: -600px;
border-radius: 47.9343px;
border: none;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size:1rem;
font-weight: 500;
background: #3CD8E8;
text-transform: capitalize;
}
.btn-card2{
width: 174.51px;
height: 38.35px;
padding: 10px;
margin-left: 38.35px;
border-radius: 47.9343px;
border: none;
color: rgb(255, 255, 255);
font-family: Raleway;
font-size:1rem;
font-weight: 500;
background: #95B226;
text-transform: capitalize;
}
.btn-card3{
    width: 174.51px;
    height: 38.35px;
    padding: 10px;
    margin-left: 38.35px;
    border-radius: 47.9343px;
    border: none;
    color: rgb(255, 255, 255);
    font-family: Raleway;
    font-size:1rem;
    font-weight: 500;
    background: #5D58F0;
    text-transform: capitalize;
    }
   
.view{
    background: transparent;
    display: flex;
    justify-content: center;
    
}
.btn-view{
    margin: 60px auto;
}
.little-card-content{
    margin-top: -30px;
}
.footer{
max-width: 1440px;
max-height:600px;
margin: 0 auto;
background: rgb(1, 172, 253);
display: flex;
align-items: center;
gap: 0;
}
.footer-content{
    margin: 148px;
    background: transparent;
    margin-right:35px;
}
.footer-list{
    background: transparent;
    text-align: left;
}
.footer-links li{
    list-style: none;
    background: transparent; 
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 500;
    
}
.footer-text{
    color: rgb(255,255,255);
    font-size: 2rem;
    font-weight: 700;
    margin-top:-80px;
    margin-left: 80px;
    background: transparent;
}
.footer-img{
    background: transparent;
}
.footer-links{
   background: transparent;
}
.icons{
background: transparent;
margin-left: 50px;
margin-top: -107px;
color: rgb(255, 255, 255);
font-size: 1rem;
font-weight: 700;
line-height: 26px;
margin-left:  100px;
}
.icon{
  margin-top: 18px;
  margin-right: 5px;
}
.touch{
   background: transparent;
   font-size: 1.6rem;
}
.footer-details{
width: 550px;
height: 100px;
color: rgb(255, 255, 255);
font-size: 1.5rem;
font-weight: 400;
text-align: left;
background: transparent;
}
.about-title{
    color: rgb(255,255,255);
    font-size: 1.6rem;
    font-weight: 700;
    background: transparent;
    margin-left: 25px;
    margin-bottom:30px;
}

@media screen and (max-width:1440px){
    .navbar{
     border: 0.5px solid rgb(254, 163, 1);
    }
    .toggle{
        display: block;
     }
 .nav-links,.btn-primary{
    display: none;
 }
 .hero{
    flex-wrap: wrap-reverse;
 }
 .hero-content{
display: flex;
flex-direction: column;
align-items: center;
 }
 .curriculum-content{ 
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .curriculum-title{ 
    margin-top:30rem;
    display: flex;
    align-items: center;
 }
 .slider{
    display: none;
 }
 .highlight-story-card{
    display: none;
 }

}


